---
import Layout from '@layouts/BaseLayout.astro';
import PostBox from '@components/PostBox.astro';

const isProduction = import.meta.env.MODE === 'production';

let posts = await Astro.glob('./*.md');
if (isProduction) {
  posts = posts.filter((post: any) => !post.frontmatter.draft);
}
---

<Layout title="Posts">
  <div class="grid">
    {posts.map((post: any) => (
      <PostBox post={post} showDates />
    ))}
  </div>
</Layout>
<style lang="scss">
  .grid {
    display: grid;
    gap: 14px;
    grid-template-columns: 1fr 1fr;
    padding: 0 14px;
    
    @media (max-width: 750px) {
      grid-template-columns: 1fr;
    }
  }
</style>