---
import Layout from '@layouts/BaseLayout.astro';
import PostBox from '@components/PostBox.astro';
import { getPosts } from '@utils/getPosts';

const posts = getPosts(await Astro.glob('../../../content/posts/*/*.md'));
---

<Layout title="Posts">
  <div class="grid">
    {posts.map((post: any) => (
      <PostBox post={post} showDates />
    ))}
  </div>
</Layout>
<style lang="scss">
  .grid {
    display: grid;
    gap: 14px;
    grid-template-columns: 1fr 1fr;
    padding: 0 14px;
    
    @media (max-width: 720px) {
      grid-template-columns: 1fr;
    }
  }
</style>