:root{
  @media (prefers-color-scheme: light) {
    --text-primary: #333333;
    --text-secondary: #777777;
    --bg-primary: #f4f5f7;
    --bg-secondary: #ffffff;
    --shadow: #bfc4c833;
    --btn-hover: #edf2f7;
    --link: #0f83fd;
    --gray-primary: #9dacb7;
    --gray-secondary: #505c64;
    --divider: #5c93bb2b;
    --table-border: #cfdce6;
    --table-header: #edf2f7;
    --inline-code: #215aa012;
  }
  @media (prefers-color-scheme: dark) {
    --text-primary: #ffffff;
    --text-secondary: #a9a9a9;
    --bg-primary: #141920;
    --bg-secondary: #181f27;
    --shadow: #00000033;
    --btn-hover: #222b35;
    --link: #419dfd;
    --gray-primary: #505c64;
    --gray-secondary: #9dacb7;
    --divider: #5c93bb2b;
    --table-border: #505c64;
    --table-header: #222b35;
    --inline-code: #3578cb2d;
  }
}
