<footer>
  <span class="copyright">© 2022 Fus1on.dev</span>
</footer>
<style>
  footer {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-secondary);
    margin-bottom: 20px;
    font-size: 14px;
  }
</style>
