<div class="zero-padding-box">
  <slot />
</div>
<style lang="scss">
	.zero-padding-box {
    width: 100%;
    padding: 0;
    background-color: var(--bg-secondary);
    border-radius: 12px;
    box-sizing: border-box;

    :global(p) {
      font-weight: 400;
      line-height: 1.9;
      margin: 16px 0;
    }

    @media (max-width: 750px) {
      border-radius: 0;
      box-shadow: none;
    }
  }
</style>
